.heading {
  /* basic */ 
   background-color: #fff;
  /* border-radius */
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
  /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0 10px;
   -moz-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
   box-shadow: rgba(0,0,0,0.1) 0 0 10px; 
  }

  .heading_text{
    padding: 25px;
    text-align: center;
    font-weight: bolder;
    color: #707070;
  }

  