.top-header{
   background-color: #0c065e;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   padding: 0.5rem 4rem;
   margin-top: 20px;
   
  .top-heading{
   font-size: 44px;
   color:white;
   font-family: 'Poppins';
   font-weight: bold;
  }
}
